.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 2rem;
  gap: 2rem;
  box-sizing: border-box;
  align-items: center;
}

h1 {
  margin: 0;
}
